In [1]:
# This cell is used to load the hints and solutions, if needed
from IPython.display import Pretty as disp
hint = 'https://raw.githubusercontent.com/soltaniehha/Business-Analytics/master/docs/hints/'  # path to hints on GitHub

# Exercise 1
How can you improve the syntax used in the following code cells?

Consider conventions, and code readability.

In [ ]:
x=  4+ 1

In [7]:
# HINT: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex01-a-hint')

In [8]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex01-a')

In [ ]:
print(x); x = x + 1; print(x); x += 1; print(x)

5
6
7

In [10]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex01-b')

In [ ]:
for i in range(10):
  if i % 3 == 0  :#checks to see if i is a multiple of 3
         print(i, 'is a multiple of 3!')

0 is a multiple of 3!
3 is a multiple of 3!
6 is a multiple of 3!
9 is a multiple of 3!

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex01-c')

In [ ]:
2*8+8/4-9+2*1-1

10.0

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex01-d')

# Exercise 2
Create a variable `savings` and give it value 200

In [ ]:
# Your answer goes here

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex02-a')

Create a variable `factor` and assign it value 1.1

In [ ]:
# Your answer goes here

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex02-b')

Calculate `balance`:

In [ ]:
balance = savings * factor ** 5

Now print a statement that says something like "Your account balance after 5 years would be: $xxx" and use the value of `balance` to populate xxx:

In [ ]:
# Your answer goes here

Your account balance after 5 years would be: $ 322.1020000000001

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex02-c')

Let's make two modifications to this:
* use `sep = ''` in print function to avoid the extra space between dollar sign and balance value.
* use `round()` function to round to two decimals

Note: Use `?round` in a new cell to get help from the help function.

In [ ]:
# Your answer goes here

Your account balance after 5 years would be: $322.1

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex02-d')

# Exercise 3
The value of pi is given below in a string/character format:

In [ ]:
pi_char = "3.1415926535"
type(pi_char)

str

Google and find a function that would convert it to float so we can use it in math equations, call this new converted value `pi`

In [ ]:
# Your answer goes here

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex03-a')

Using this variable calculate the area of a circle with radius `r = 2` and print a rounded value for area (up to 3 decimals):

In [ ]:
# Your answer goes here

The area of a circle with radius 2 is 12.566

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex03-b')

# Exercise 4
What is the quotient and remainder of 67432/98?

In [ ]:
# Your answer goes here

Quotient of 67432/98: 688
Remainder of 67432/98: 8

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex04')

# Exercise 5
Write a statement to check whether `a` is a multiple of 5 and within the range of 100-150 or 0-50. Check your statement with the following values and it should give you the following values:

55 --> False

110 --> True

-25 --> False

150 --> False

100 --> True

In [ ]:
# Your answer goes here

In [ ]:
# SOLUTION: Uncomment and execute the cell below to get help
#disp(hint + '02-01-ex05')